openapi: 3.1.0
info:
  title: Echoes API
  version: 1.0.0-mvp
  description: MVP API skeleton aligned to Echoes canonical domain model and ADR-002.
servers:
  - url: https://api.echoes.app/api/v1
    description: Production
  - url: https://staging-api.echoes.app/api/v1
    description: Staging

tags:
  - name: Auth
  - name: Users
  - name: Events
  - name: Feeds
  - name: Memories
  - name: Follows
  - name: Reports

paths:
  /auth/otp/request:
    post:
      tags: [Auth]
      summary: Request phone OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number]
              properties:
                phone_number:
                  type: string
      responses:
        '202':
          description: OTP requested
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/otp/verify:
    post:
      tags: [Auth]
      summary: Verify OTP and issue access+refresh tokens
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone_number, otp_code]
              properties:
                phone_number:
                  type: string
                otp_code:
                  type: string
      responses:
        '200':
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenPair'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh access token (rotates refresh token)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenPair'

  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /events:
    get:
      tags: [Events]
      summary: List published events
      parameters:
        - in: query
          name: category
          schema:
            type: string
        - in: query
          name: city_id
          schema:
            type: string
        - in: query
          name: page
          schema:
            type: integer
            minimum: 1
      responses:
        '200':
          description: Event list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEvents'

  /events/{slug}:
    get:
      tags: [Events]
      summary: Get public event page payload (optional auth personalization)
      parameters:
        - in: path
          name: slug
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Event detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /feeds/for-you:
    get:
      tags: [Feeds]
      summary: Personalized event feed
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Feed items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFeedItems'

  /feeds/following:
    get:
      tags: [Feeds]
      summary: Feed of memories from followed users
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Following feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMemories'

  /memories:
    post:
      tags: [Memories]
      summary: Create memory for an event
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event_id, body_text]
              properties:
                event_id:
                  type: string
                  format: uuid
                body_text:
                  type: string
                image_ids:
                  type: array
                  maxItems: 4
                  items:
                    type: string
                    format: uuid
      responses:
        '201':
          description: Memory created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Memory'

  /memories/{memory_id}:
    delete:
      tags: [Memories]
      summary: Delete memory (user-visible immediate removal, internal soft-delete)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: memory_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Deleted

  /memories/{memory_id}/reactions:
    post:
      tags: [Memories]
      summary: React to memory with single MVP reaction type
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: memory_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reaction_type]
              properties:
                reaction_type:
                  type: string
                  enum: [felt_this]
      responses:
        '201':
          description: Reaction created

  /memories/{memory_id}/comments:
    post:
      tags: [Memories]
      summary: Create flat comment on memory
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: memory_id
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body_text]
              properties:
                body_text:
                  type: string
      responses:
        '201':
          description: Comment created

  /users/{user_id}/follow:
    post:
      tags: [Follows]
      summary: Follow user
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '201':
          description: Followed
    delete:
      tags: [Follows]
      summary: Unfollow user
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Unfollowed

  /reports:
    post:
      tags: [Reports]
      summary: Report memory/comment/event
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_type, target_id, reason_code]
              properties:
                target_type:
                  type: string
                  enum: [memory, comment, event]
                target_id:
                  type: string
                  format: uuid
                reason_code:
                  type: string
                notes:
                  type: string
      responses:
        '201':
          description: Report submitted

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'

  schemas:
    AuthTokenPair:
      type: object
      required: [access_token, refresh_token, expires_in]
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        expires_in:
          type: integer

    User:
      type: object
      required: [id, username]
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        display_name:
          type: string
          nullable: true
        profile_photo_url:
          type: string
          nullable: true

    EventSummary:
      type: object
      required: [id, slug, title, category, occurred_at]
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
        title:
          type: string
        category:
          type: string
        occurred_at:
          type: string
          format: date-time

    EventDetail:
      allOf:
        - $ref: '#/components/schemas/EventSummary'
        - type: object
          properties:
            summary:
              type: string
            hero_image_url:
              type: string
              nullable: true
            prompt:
              type: string
            memory_count:
              type: integer

    Memory:
      type: object
      required: [id, user_id, event_id, body_text, created_at]
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        event_id:
          type: string
          format: uuid
        body_text:
          type: string
        image_urls:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time

    FeedItem:
      type: object
      required: [event]
      properties:
        event:
          $ref: '#/components/schemas/EventSummary'
        prompt:
          type: string
        memory_count:
          type: integer
        reaction_count:
          type: integer

    PaginatedEvents:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EventSummary'
        page:
          type: integer
        has_next:
          type: boolean

    PaginatedFeedItems:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FeedItem'
        page:
          type: integer
        has_next:
          type: boolean

    PaginatedMemories:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Memory'
        page:
          type: integer
        has_next:
          type: boolean

    ErrorEnvelope:
      type: object
      required: [errors]
      properties:
        errors:
          type: array
          items:
            type: object
            required: [code, title]
            properties:
              code:
                type: string
              title:
                type: string
              detail:
                type: string
              source:
                type: object
                additionalProperties: true
